// Change password
.change-password-page {
  .change-password-page__lead {
    text-align: center;
  }
}

// Register success page
.register-success-page {
  max-width: 900px;
  margin: 0 auto;
  .register-success-page__submit {
    margin: 1rem auto;
    max-width: 400px;
  }
}
