$font: -apple-system, BlinkMacSystemFont, "Montserrat", Roboto, Oxygen, Ubuntu,
  Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
$themeColor: #923be5;
$lightThemeColor: #9b5ed5;
$darkerThemeColor: #5d00ff;
$mainDarkColor: #676767;
$leadColor: #6b6b6b;
$lightLeadColor: #cacaca;
$whiteBgColor: #fcfcfc;
$lightGreyColor: #f9f9f9;
$accentGreyColor: #f3f3f3;
